body {
    background-color: #eee;
}

 li{
    font-size: 11px;
 }
 
.homeIcon {
    position: fixed;
    top: 12.5px;
    left: 30px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    cursor: pointer;
    float: left;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #111;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    position: absolute;
    font-size: 20px;
    left: 75px;
}

.navbar-default .navbar-brand:hover{
  color: #444;
}

.navbar-default .navbar-nav>li>a:hover{
     color: #444;
     text-decoration: underline;
}

.navbar-default {
    background-color: #eee;
    border-color: #eee;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #111;

    background-color: #eee;
    text-decoration: underline;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
}


.list-inline>li{
 padding: 0px;
}

#logo{
     width: 200px; 
     height: 200px;
}