body {
    background-color: #eee;
}




.homeIcon {
    position: fixed;
    top: 12.5px;
    left: 150px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #111;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-default .navbar-brand {
    /*position: absolute;
    font-size: 18px;
    left: 75px; */
}

.navbar-default .navbar-brand:hover {
    color: #444;
    background-color: transparent;
}

.navbar-default .navbar-brand:focus {
    color: #111;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #555;
    text-decoration: none;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: transparent;
    background-color: transparent;
    text-decoration: none;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 10px 10px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
}

.list-inline>li {
    padding: 0px;
}

#logo {
    width: 80%;
    height: auto;
}

.portfolio-link:focus,
.portfolio-link:active {
    opacity: 1;
    margin-top: 0em;
    margin-bottom: 0em;
    outline: none;
}

.fixed {
    font-size: 1em;
    font-weight: 500;
    opacity: 1;
    position: fixed;
    top: 50px;
    margin: 0px -5px;
    text-transform: uppercase;
    color: #fff;
}

.menu, 
.menu.active {

        background-color:transparent;
}

.menu:focus, 
.menu:active, 
.menu:hover {
 
    background-color:transparent;
    text-decoration:underline;
}

.fixedBrand {
    font-size: 1.15em;
    font-weight: 300;
    position: fixed;
    top: 15px;
    margin: 0px -5px;
    text-transform: uppercase;
}

#z {
    padding: 0;
    margin: 0 0 65px;
    background-color: transparent;
}

#work {
    padding: 0px 0 0;
}

#research {
    margin: 65px 0 0;
}

#about {
    margin: 65px 0 0;
    font-weight: 300;
}

.nav>li>a {
    padding: 0px 0px;
}

h4 {
    margin: 0 0 0;
    font-size: 18px;
}

p {
    margin: 0 0 0em;
}

.portfolio-item {
    padding: 0 .5em 1em 0em;
}

/*
.modal-body {
    position: relative;
    margin:4% 0% 8.33% 0%;
    padding: 0px 0px;
} */


/*
@media only screen and (max-width: 768px) {

   body { font-size: 1em; }

} */

.projectTitle {

    font-weight: 500;
    font-size: 14px;
}

.subtext {
    font-size: 14px;
    font-weight: 300;
    color: #111;
}

.nav-stacked>li+li {
    margin-top: 0px;
}

.modal-body {
    margin-top:40px;
}